body
{
    font-family:arial;
    color:black;
    font-weight:bold;
    background:ffffff;
	A:active {color: #00ff00;}
	A:link {color: #bb0077;}
	A:visited {color: #bb0077;}
}


caption
{
        font-family:arial;
        font-size:16;
        color:222277;
}
table
{
        background-color:999999;
}
tr
{
        font-family:arial;
}
th
{
        font-family:arial;
        font-size:14;
        color:ffffff;
        background-color:#99aaaa;
}
td
{
        font-family:arial;
        font-size:12;
        background-color:ffffff;
}

b
{
        font-family:arial;
        font-size:11;
        color:000077;
}

div.jobMonitorAlert
{
    color: #003344;
    font-size: 8pt;
    background-color: #eef0ff;
}




