<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Monitor Dashboard</title>
    #parse("header-includes.vm")
</head>
<body class="yui-skin-sam">

    <div id="container"></div>

    <div id="errorMonitor">

    <div>
        <table>
            <tr><td>#parse("errorSummary.vm" )</td><td>#parse("errorControlPanel.vm" )</td></tr>
        </table>

    </div>
    <div id="version">version: $Version environment: $Env</div>

    <div id="container-for-paginator" style="clear:both;">
        <br>
        #if( ! $TooManyErrors)
        #{else}
        <font COLOR=RED FACE="Geneva, Arial">$TooManyErrors</font>
        #end
        <div id="errorList"></div>
    </div>
    <div id="version">version: $Version environment: $Env</div>

</div>

#parse("script-init.vm")
#parse("script-refresh.vm")

</body>
</html>

</div>


